GoogleNews-vectors-negative300.bin
states.h5
*.pyc
program_state
predictions.h5
*.project
*.pydevproject
*.data-00000-of-00001
*.meta
*.index
models/enc_dec_ckpts/checkpoint
models/gan_ckpts/checkpoint
*.npz
predictions/
__pycache__
.idea/
.settings/
.vscode/
todo.txt
today todo.txt

